@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


body {
  font-size: 15px;
}

img {
  margin-top: 20px;
}

h2 {
  font-family: "Big Shoulders Display";
  font-weight: 700px;
  color: hsl(0, 0%, 95%);
  text-transform: capitalize;
}

p {
  font-family: "Lexend Deca";
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom:50px;
}

a {
  display: inline-block;
  font-family: "Lexend Deca";
  background-color:  hsl(0, 0%, 95%);
  color: currentColor;
  padding: 15px;
  border: solid hsl(0, 0%, 95%);
  border-width: 2px;
  border-radius: 1rem;
  margin-left: 10%;
  margin-bottom: 20px;
  text-decoration: none;
}

a:hover {
  background-color:inherit;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
}

.card {
  flex: 4;
}

.card-container {
  width: 80%;
  margin:auto;
}

.card.sedans {
  background-color: hsl(31, 77%, 52%);
  color: hsl(31, 77%, 52%)
}

.card.suvs {
  background-color: hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%)
}

.card.luxury {
  background-color: hsl(179, 100%, 13%);
  color: hsl(179, 100%, 13%)
}

@media only screen and (max-width: 375px){
  .container {
    display: block
  }
  .card {
    display: block
  }
  h2 {
    margin-top: 0px;
    padding-top: 20px;
  }
}